//后台框架尺寸
//菜单宽度
$navMenu:250px;
$navMenuMin:64px;
$layoutHeader :75px;
$mainColor:#f56c6c;
.close {
    .el-menu {
        .el-submenu {
            &.is-active {
                .el-submenu__title {
                    background-color: $mainColor !important;
                }
            }
        }
    }
}

.el-menu--vertical {
    .el-menu-item {
        background-color: $mainColor !important;
    }
}

//dialog样式
.el-dialog {
    width: 40% !important;
    .el-dialog__body {
        padding: 30px 80px 30px 20px;
    }
    .el-textarea>.el-textarea__inner {
        height: 120px;
    }
}